.section {
  padding: 2rem;
  border-radius: 15px;
  padding-top: 1rem !important;
  border: 2px solid var(--green-blue);
  background-color: rgba(0, 0, 0, 0.614);
  box-shadow: 2px 2px 8px 0px rgba(255, 255, 255, 0.525);

  scrollbar-width: thin;
  scrollbar-color: var(--green-blue) transparent;
}
